<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>행정구역 공간정보 제공 서비스</title>
    <script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='service_page.js') }}" charset="UTF-8"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='service_page.css') }}">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        // IE7 이하 혹은 호환모드를 위한 처리
        // http://joochang.tistory.com/39
        metadata = $.parseJSON({{ metadata | tojson }});
    </script>
</head>
<body>
    <h1>행정구역 공간정보 제공 서비스</h1>
    <div id="desc">
        이 서비스를 통해 여러 기관에서 제공하는 대한민국 행정구역 정보를 다운받을 수 있습니다.<br/>
        <br/>
        각 자료마다 기준시기와 출처 등을 명확히 제공해 해당 시기의 통계자료 등과 연결 가능합니다.<br/>
        또한, 사용자가 원하는 좌표계로 행정구역 공간정보를 다운받을 수 있습니다.<br/>
        <br/>
        현재 제공되는 행정구역 공간정보는 {{ count_info[0] }} 종, 총 {{ count_info[1] }} 가지이며 다음과 같습니다.
    </div>
    <br/>
    <div id="ui">
        <div id="class1">
            <input type="radio" name="class1" value="class1_name">NAME
        </div>
        <div id="class2">
            <input type="radio" name="class2" value="class2_name">NAME
        </div>
        <div id="timing">
            <input type="radio" name="timing" value="class3_name">NAME
        </div>
        <br/>
        <div id="epsg">
            좌표계 선택:
            <select id="crs">
                {% for crs in crs_list %}
                <option value="EPSG:{{ crs.srid }}" about="{{ crs.desc }}">EPSG:{{ crs.srid }}</option>
                {% endfor %}
            </select>
            &nbsp;
            <button id="downloadButton" class="btn"> 다운로드 </button>
            <br/>
            <span id="crs_desc"></span>
        </div>
    </div>
    <div id="dialog" title="AdminZone Service" style="display: None;">
        <div id="progressbar"></div>
        <div class="progress-label">Shape 파일 생성중...</div>
    </div>
    <div class="info">
        <table>
            <tr>
                <th>자료명</th>
                <td id="info_title" colspan="3"></td>
            </tr>
            <tr>
                <th>제공기관</th>
                <td id="info_agency"></td>
                <th>제공시스템</th>
                <td id="info_source_name"></td>
            </tr>
            <tr>
                <th>제공 URL</th>
                <td id="info_source_url" colspan="3"></td>
            </tr>
            <tr>
                <th>자료설명</th>
                <td id="info_description" colspan="3"></td>
            </tr>
            <tr>
                <td colspan="4">
                    <img id="info_image" src="">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>